.hero-banner123 {
    background-color: #57C5CA;
    height: 700px;
    /* max-height: max-content; */
}

.hero-content123 {
    text-align: left;
    padding: 20px;
    /* background-color: #666; */
    margin-left: 3%;
    color: white;
    /* margin-top: 7%; */
}

.hero-title123 {
    font-size: 400%;
    /* background-color: bisque; */
    text-align: start;
    width: 30%;
    font-family: Roboto;
    margin-top: 12%;
}

.hero-description123 {
    font-size: 1rem;
    /* Sets the size of the description text */
    /* background-color: blue; */
    text-align: left;
    width: 40%;
    font-family: Roboto;
    margin-left: 2%;
}

.section-title {
    text-align: center;
}

/* Add this CSS to your stylesheet */
.section-layer77 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* color: aqua; */
}

.hr11,
.hr22 {
    flex: 1;
    /* This will make the lines take up equal space on both sides of the icon */
    margin: 0 10px;
    /* Adjust the spacing around the icon */
    max-width: 100px;
}

.icon {
    color: #57C5CA;
}

.num1 {
    font-size: 300%;
    font-weight: 700;
    /* margin-right: %; */
    margin-left: 37%;
    margin-top: 1%;
    color: #57C5CA;

}

.num2 {
    font-size: 300%;
    font-weight: 700;
    margin-left: 60%;
    margin-top: -4%;
    color: #57C5CA;
}

.num3 {
    font-size: 600%;
    font-family: Roboto;
    font-weight: bolder;
    margin-top: -5%;
    color: #57C5CA;
    text-align: center;
}

.form123 {
    background-color: #373c3e;
    /* Sets a blue border */
    padding: 20px;
    /* Adds some space inside the border */
    margin: 20px;
    /* Adds some space outside the border */
    color: #57C5CA;
    width: 40%;
    height: 50%;
    text-align: center;
    margin-left: 30%;
    margin-bottom: 5%;
}


.in33,
.in34 {
    color: #57C5CA;
    display: block;
    /* Makes each input and button take up the full width */
    margin-bottom: 1em;
    border: none;
    /* Removes all borders */
    border-bottom: 1px solid aqua;
    /* Adds a blue bottom border */
    padding: 10px 0;
    /* Adds some padding at the top and bottom */
    margin-bottom: 20px;
    /* Adds space below each input field */
    outline: none;
    /* Removes the default focus outline */
    width: 60%;
    background-color: #373c3e;
    margin-left: 20%;
}

/* Target the calendar icon inside the date input */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(2); /* Invert the color of the calendar icon */
    color: #57C5CA; /* Change the color of the calendar icon */
}



input::placeholder {
    color: #57C5CA;
}

button {
    margin-top: 1em;
    /* Adds additional space above the button if needed */
    padding: 12px;
    /* width: 35%; */
    background-color: #57C5CA;
    border: none;
    border-radius: 2px;
    color: white;
}