
.con{
    background: #FFFFFF;
    height: 176px;
    width: 180px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */
    padding-top: 20px;
    padding-left: 60px;
}
.im{
    height: 37px;
    width: 37px;
}
.doctors{
    background-color: #FFFFFF;
    /* height: 206px; */
    width: 210px;
    padding-top: 10px;
    padding-left: 30px;
    margin-top: 40px;
}
.each{
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 10px;
    column-gap: 10px;
}
.outer{
    display: flex;
    flex-direction: row;
}
.total{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
    background-color: #FFFF;
    /* width: 341px; */
    width: 30%;
    height: 100px;
}
.totalmain{
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.App {
    width: 100%;
    height: 70vh;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
 
table {
    border: 2px solid white;
    width: 1200px;
    height: 200px;
}
 
th {
    /* border-bottom: 1px solid black; */
    color: #57C5CA;
    height: 40px;
    background-color: white;
}
 
td {
    border: 1px solid white;
    gap: 0px;
    height: 40px;
    text-align: center;
    color: #FFFFFF;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-content {
    background-color: #57C5CA;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.overlay button {
    margin: 0 10px;
}
.success-message {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #57C5CA;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999; /* Ensure it's on top of other content */
}
.btn{
    background-color: red;
    color: #FFFFFF;
    width: 100px;
    height: 35px;
    border-radius: 5px;
}
.icon-container {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    width: 80px; /* Set width */
    height: 80px; /* Set height */
    border-radius: 50%; /* Make it a circle */
    background-color: #fff; /* Optional background color */
    margin-right: 20px; /* Adjust margin as needed */
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* .fa-circle-user,
.fa-list-check,
.fa-message{
    font-size: 30px; 
    color: black;
} */
input{
    width: 250px;
    height: 30px;
    padding-left: 10px;
}