
.MainDash1 {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(12, 4, 4);
  background-color: rgb(44, 42, 40);

  color: rgb(235, 229, 229); /* Set text color to white */
}

.h1 {
  color: black;
}

.topic {
  padding-left: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}


.th1,
.td1 {
  padding: 8px;
  text-align: left;
  border-right: 1px solid #dddddd;
}


.btn-cont1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}


.btn-cont1 .button1 {

  background-color: #57C5CA;
  padding: 7px 10px;
  outline: none;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

.th1 {

  background-color: #ffffff;
  font-weight: bold;
  font-size: 150%;
  color: #57C5CA;
  height: 60px;
}

.tr1 {
  border-bottom: 1px solid #dddddd;
}
.tr1:hover {
  background-color: #7d787e;
}

.table1 {
  border-bottom: 1px solid #dddddd;
}
tr:hover {
  background-color: #7d787e;
}

.table {
  margin-top: 6px;
  width: 80%;
  margin: 0 auto;
}

.border1 {
  margin-top: 30px;
  background-color: white;
  background-color: rgb(44, 42, 40);
}

.border21 {
  margin-top: 30px;
  background-color: rgb(155, 20, 20);
  background-color: rgb(216, 205, 194);
  height: 300px;
}


.medical1 {
  font-size: 20px;
  color: #2c8ae8;
  text-align: center;
}

.p1 {
  background-color: #ffff;
  height: 456px;
  width: 775px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.q1 {
  height: 426px;
  width: 605px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.NDR1 {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.bttn1 {
  background-color: #373c3e;
  height: 37px;
  width: 134px;
  color: #ffffff;
  margin-left: 0px;
}

.continer1 {
  background: #FFF;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}


.p11 {
  display: flex;
}
.p21 {
  display: flex;
  text-align: center;
}
.p31 {
  display: flex;
}
.p41 {
  margin-top: 60px;
  justify-content: left;
}
.lin1 {
  border-radius: 2px;
  border-color: #7d787e;
}
.input1 {
.p1 {
  display: flex;
}
.p2 {
  display: flex;
  text-align: center;
}
.p3 {
  display: flex;
}
.p4 {
  margin-top: 60px;
  justify-content: left;
}
.lin {
  border-radius: 2px;
  border-color: #7d787e;
}
input {
  border: none;
  outline: none;
  color: #57c5ca;
  padding: 5px;
  font-size: 16px;
  border-bottom: 1px solid #57c5ca;
}

.outer1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}
::placeholder {
  color: #57c5ca;
  opacity: 1;
}
}
