<<<<<<< HEAD
.MainDash1 {
=======
.MainDash {
  /* display: flex;
    flex-direction: column ;
    justify-content: space-evenly; */
>>>>>>> 51d0bc8 (added doctor)
  width: 100%;
  height: 100%;
  border: 1px solid rgb(12, 4, 4);
  background-color: rgb(44, 42, 40);
<<<<<<< HEAD
  color: rgb(235, 229, 229); 
}

.h11 {
  color: black;
}

.topic1 {
  padding-left: 50px;
}

.t1 {
=======
  color: rgb(235, 229, 229); /* Set text color to white */
}

.h1 {
  color: black;
}

.topic {
  padding-left: 50px;
}

table {
>>>>>>> 51d0bc8 (added doctor)
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

<<<<<<< HEAD
.th1,
.td1 {
=======
th,
td {
>>>>>>> 51d0bc8 (added doctor)
  padding: 8px;
  text-align: left;
  border-right: 1px solid #dddddd;
}

<<<<<<< HEAD
.btn-cont1 {
=======
.btn-cont {
>>>>>>> 51d0bc8 (added doctor)
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

<<<<<<< HEAD
.btn-cont1 .button1 {
=======
.btn-cont button {
>>>>>>> 51d0bc8 (added doctor)
  background-color: #57C5CA;
  padding: 7px 10px;
  outline: none;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}
<<<<<<< HEAD
.th1 {
=======
th {
>>>>>>> 51d0bc8 (added doctor)
  background-color: #ffffff;
  font-weight: bold;
  font-size: 150%;
  color: #57C5CA;
  height: 60px;
}

<<<<<<< HEAD
.tr1 {
  border-bottom: 1px solid #dddddd;
}
.tr1:hover {
  background-color: #7d787e;
}

.table1 {
=======
tr {
  border-bottom: 1px solid #dddddd;
}
tr:hover {
  background-color: #7d787e;
}

.table {
>>>>>>> 51d0bc8 (added doctor)
  margin-top: 6px;
  width: 80%;
  margin: 0 auto;
}

<<<<<<< HEAD
.border1 {
=======
.border {
>>>>>>> 51d0bc8 (added doctor)
  margin-top: 30px;
  background-color: white;
  background-color: rgb(44, 42, 40);
}
<<<<<<< HEAD
.border21 {
=======
.border2 {
>>>>>>> 51d0bc8 (added doctor)
  margin-top: 30px;
  background-color: rgb(155, 20, 20);
  background-color: rgb(216, 205, 194);
  height: 300px;
}

<<<<<<< HEAD
.medical1 {
=======
.medical {
>>>>>>> 51d0bc8 (added doctor)
  font-size: 20px;
  color: #2c8ae8;
  text-align: center;
}
<<<<<<< HEAD
.p1 {
=======
.p {
>>>>>>> 51d0bc8 (added doctor)
  background-color: #ffff;
  height: 456px;
  width: 775px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
<<<<<<< HEAD
.q1 {
=======
.q {
  /* background-color: #414e5a; */
>>>>>>> 51d0bc8 (added doctor)
  height: 426px;
  width: 605px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
<<<<<<< HEAD
.NDR1 {
=======
.NDR {
>>>>>>> 51d0bc8 (added doctor)
  display: flex;
  flex-direction: row;
  gap: 25px;
}
<<<<<<< HEAD
.bttn1 {
=======
.bttn {
>>>>>>> 51d0bc8 (added doctor)
  background-color: #373c3e;
  height: 37px;
  width: 134px;
  color: #ffffff;
  margin-left: 0px;
}

<<<<<<< HEAD
.continer1 {
=======
.continer {
>>>>>>> 51d0bc8 (added doctor)
  background: #FFF;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

<<<<<<< HEAD
.p11 {
  display: flex;
}
.p21 {
  display: flex;
  text-align: center;
}
.p31 {
  display: flex;
}
.p41 {
  margin-top: 60px;
  justify-content: left;
}
.lin1 {
  border-radius: 2px;
  border-color: #7d787e;
}
.input1 {
=======
.p1 {
  display: flex;
}
.p2 {
  display: flex;
  text-align: center;
}
.p3 {
  display: flex;
}
.p4 {
  margin-top: 60px;
  justify-content: left;
}
.lin {
  border-radius: 2px;
  border-color: #7d787e;
}
input {
>>>>>>> 51d0bc8 (added doctor)
  border: none;
  outline: none;
  color: #57c5ca;
  padding: 5px;
  font-size: 16px;
  border-bottom: 1px solid #57c5ca;
}
<<<<<<< HEAD
.outer1 {
=======
.outer {
  /* background-color: #2c8ae8; */
>>>>>>> 51d0bc8 (added doctor)
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}
::placeholder {
  color: #57c5ca;
  opacity: 1;
}
